@import "tailwindcss";
@import "tw-animate-css";


body {
  font-family: var(--font-epunda);
  color: var(--color-white);
  margin-top: 20px;
  background-color: var(--color-purpleDark);
  cursor: url("/cursor-star.png") 16 16, auto;
}


h1{
  font-family: var(--font-starborn);
}

button{
  background-color: var(--color-white);
  color:var(--color-dark);
  border-radius: 40px;
}

  button:hover{
    background-color: #ded4e6;
  }

  @theme {
  --color-*: initial;
  --color-white: #FFF1F1;
  --color-purpleDark: #3B0270;
  --color-purpleLight: #6F00FF;
  --color-pink: #E9B3FB;
  --color-pinkDark: #9e6fad;
  --color-dark: #1d0431;
}

.buttonPink{
  background-color: var(--color-pink);
  border-radius: 40px;
  color: var(--color-purpleDark);
}

.font-primary {
  font-family: var(--font-epunda);
}

.font-secondary {
  font-family: var(--font-starborn);  
}

