@import "tailwindcss";
@import "tw-animate-css";


body {
  font-family: var(--font-epunda);
  color:#f5f1f5;
  margin-top: 20px;
  background-color: var(--color-purpleDark);
}

h1{
  font-family: var(--font-starborn);
}

button{
  background-color: #FFF1F1;
  color:#171717;
  border-radius: 40px;
}

  button:hover{
    background-color: #ded4e6;
  }

  @theme {
  --color-*: initial;
  --color-white: #FFF1F1;
  --color-purpleDark: #3B0270;
  --color-purpleLight: #6F00FF;
  --color-pink: #E9B3FB;
  --color-pinkDark: #9e6fad;
}

.buttonPink{
  background-color: var(--color-pink);
  border-radius: 40px;
  color: var(--color-purpleDark);
}

.font-primary {
  font-family: var(--font-epunda);
}

.font-secondary {
  font-family: var(--font-starborn);  
}